LOGLENS_STORAGE_MODE=aws
AWS_REGION=ap-south-1

DYNAMODB_TABLE_NAME=loglens-errors
S3_BUCKET_NAME=loglens-logs-220406

LOGLENS_AUTH_REQUIRED=true

COGNITO_ISSUER=https://cognito-idp.ap-south-1.amazonaws.com/YOUR_USER_POOL_ID
COGNITO_CLIENT_ID=YOUR_COGNITO_CLIENT_ID
COGNITO_JWKS_URL=https://cognito-idp.ap-south-1.amazonaws.com/YOUR_USER_POOL_ID/.well-known/jwks.json
COGNITO_TOKEN_USE=access

BEDROCK_MODEL_ID=amazon.nova-lite-v1:0
